<div class="container is-fluid">
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column is-3">
      <app-aside
        [image]="custom.image"
        [name]="custom.name"
        [job]="custom.job"
        [town]="custom.town"
        [phoneNumber]="custom.phoneNumber"
        [email]="custom.email"
        [portofolioLink]="custom.portofolioLink"
      ></app-aside>
    </div>

    <div class="column is-7">
      <app-main></app-main>
    </div>
    <div class="column is-1"></div>
  </div>
</div>
